{{!-- assigned to --}}
<div class="my-1 list-group-item container">
  <div class="row">

    <h3 class="text-start col-10 my-3">Assigned to {{task_user}}</h3>
    <div class="col-2 text-end">
      <i class="btn fas fa-trash-alt" id="deleteTaskTrash" data-id="{{id}}"></i>
    </div>

    {{!-- task name --}}
    <div class="text-start">{{name}}</div>
  </div>
</div>