<section>
  <!-- Link to a project -->
  <a class="text-decoration-none" href="/project/{{id}}">
  <div class="list-group-item flex-wrap col bg-light border border-dark rounded my-2 mx-2 p-2 text-center">{{name}}</div>
  </a>
</section>