  <div class="container">
    <div class="row mt-5 pt-3 mx-3">
      <div class="col-sm mx-1 mb-3">
        <h2 class="mb-3">Log In</h2>
        <p>
          Log into your Manage Me Now account to access your teams and projects. If you do not have a Manage Me Now account, <a href="/signup">sign up here</a>.
        </p>
      </div>
      <div class="col-sm mx-1">
        <form id="logInForm" class="p-2 bg-light border border-dark rounded">
          <div class="mb-3 mt-3 mx-3">
            <label for="logInUsername" class="form-label">Username</label>
            <input class="form-control" id="logInUsername" placeholder="Enter your username">
          </div>
          <div class="mb-3 mx-3">
            <label for="logInPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="logInPassword" placeholder="Enter your password">
          </div>
          <div class="mb-3 mx-3">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="./js/login.js"></script>